h1 {
    text-align: center;
    color: ivory;
    border-color: ivory;
    border: 5px dashed ivory;
    font-family: 'Arial Black', Gadget, sans-serif;
    border-radius: 10px;
}

h3 {
    text-align: center;
    color: darkgreen;
    font-family: 'Arial Black', Gadget, sans-serif;
}

body {
    background-color:darkblue;
    font-family: 'Arial Black', Gadget, sans-serif;
}

article {
    background-color: skyblue;
    width: 525px;
    margin-left: 30%;
    border-radius: 10px;
}

p {
    text-align: center;
    color: darkgreen;
}